<h3>{{viewTitle}}</h3>

<form action="/dev/user/add" method="POST" autocomplete="off" id="userForm">
    <div class="form-group">
        <label>User Name</label>
        <input type="text" class="form-control" name="Username" placeholder="User Name" value="{{user.Username}}">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="Password" placeholder="" value="{{user.Password}}">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="Email" placeholder="Email" value="{{user.Email}}">
    </div>
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="FullName" placeholder="Full Name" value="{{user.FullName}}">
    </div>
    <div class="form-group">
        <label>Membership</label>
        <select name="Membership" id="membership" form="userForm">
            <option value="Normal">Normal</option>
            <option value="Premium">Premium</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Submit</button>
        {{#if admin}}
            <a class="btn btn-secondary" href="/dev/user/list">Back to User List</a>
        {{/if}}
    </div>
</form>